.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
.prettierrc
.eslintrc.json
node_modules/**
infor.txt
infor2.txt
更新發佈.md
發佈流程.md
有真的觸發才有這資訊.png
.claude/**
